{% extends('::base.html.twig') %}
{% block title %}
    {{ parent() ~ ' - homepage' }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">Liste des articles</h1>
            </div>
        </div>
        <div class="row">
            {% for article in articles %}
                <article class="col-md-12">
                    <h3>{{ article.title }}</h3>
                    <a href="{{ path('article_author', { 'author': article.author}) }}"><small>{{ article.author }}</small></a>
                    <p>{{ article.content }}</p>
                    <p>Tag : <a href="{{ path('article_tag', { 'tag': article.tag}) }}">{{ article.tag }}</a></p>
                </article>
            {% endfor %}
        </div>
    </div>
{% endblock %}